@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap'); 

#brand { 

    font-family: 'Playfair Display'; 

    font-size: 200%; 

} 

img {
    width:200px;
    height:300px;
    float:right;
    margin-right: 5em;
}
#overview {
    font-family: 'Playfair Display'; 

    font-size: 150%; 
}

#navlink{
    padding-left: 3em;
}