@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
background-color: #ffffff;



}
.navbar brand{
    font-family: Playfair Display !important;
}
.card {
border: none
}
.logo {
background-color: #eeeeeea8
}
.totals tr td {
font-size: 13px
}
.footer {
background-color: #eeeeeea8
}
.footer span {
font-size: 12px
}
.product-qty span {
font-size: 12px;
color: #dedbdb
}



#brand { 

    font-family: 'Playfair Display'; 

    font-size: 200%; 

} 

 